<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link th:href="@{/mdbootstrap/css/mdb.min.css}" rel="stylesheet">
<link th:href="@{/css/detalle.css}" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap" rel="stylesheet">
</head>
<body>
<br>
<br>
<br>
   <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h2>DESCRIPCIÓN DEL JUEGO: The Last of Us Part II</h2>
                <p>Cinco años después de su peligroso viaje a través de unos Estados Unidos pospandemia, Ellie y Joel logran establecerse en Jackson, Wyoming. Vivir entre una próspera comunidad de sobrevivientes les ha concedido paz y estabilidad, a pesar de la amenaza constante de los infectados y de otros sobrevivientes más desesperados.

Cuando un evento violento interrumpe esa paz, Ellie se embarca en un viaje incesante para obtener justicia y llegar a un cierre. A medida que caza a los responsables uno por uno, deberá enfrentarse a las devastadoras repercusiones físicas y emocionales de sus acciones.</p>

<p>Plataforma:PS4</p>
<p>Lanzamiento:19/6/2020</p>
<p>Editor:Sony Interactive Entertainment</p>
<p>Géneros:Acción, Aventura</p>
<p>Voz:Español (México), Francés (Francia), Inglés, Portugués (Brasil)</p>
<p>Idiomas de pantalla:Español (México), Francés (Francia), Inglés, Portugués (Brasil)</p>
                <a th:href="@{/menu/primero}"><button type="button" class="btn btn-primary" data-mdb-ripple-init>Regresar</button></a>
            </div>
            <div class="col-md-6">
                <img th:src="@{/img/ellie.jpg}" class="img-fluid" alt="Descripción de la imagen">
            </div>
        </div>
    </div>
    <br>
    <br>
    <br>
</body>
</html>