<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>REGISTRO</title>
    <link th:href="@{../mdbootstrap/css/mdb.min.css}" rel="stylesheet"> <!-- Estilos de MDBootstrap -->
    <link th:href="@{/css/registro.css}" rel="stylesheet"> <!-- Estilos personalizados -->
</head>
<body>
	<div class="container">

	           <h2>REGISTRATE</h2>
	           <div class="form__group field">
	               <input type="text" class="form__field" placeholder="Usuario o correo" id="username" required>
	               <label for="username" class="form__label"><i class='bx bxs-user'></i></label>
	           </div>

	           <div class="form__group field">
	               <input type="password" class="form__field" placeholder="Contraseña" id="password" required>
	               <label for="username" class="form__label"><i class='bx bxs-user'></i></label>
	           </div>
	           <div class="form__group field">
	               <input type="password" class="form__field" placeholder="Confirmar Contraseña" id="password" required>
	               <label for="username" class="form__label"><i class='bx bxs-user'></i></label>
	           </div>
	           
	          <a class="btn-1" th:href="@{/menu/primero}">Registrarse</a>

	           <div class="remember">
	               <a href="recuperarcontraseña.html" th:href="@{/proyecto/login}" >Ya tienes cuenta? Login</a>
	           </div>

	       </div>

    <script type="text/javascript" th:src="@{../mdbootstrap/js/mdb.min.js}"></script> <!-- Scripts de MDBootstrap -->
</body>
</html>